@import 'src/styles.scss';
#connection-section {
    display: flex;
    height: 100vh;
    background-color: $blue;
    align-items: center;
    justify-content: center;
}
// form {
//     margin-top: 24px;
// }