@import 'src/styles.scss';

#connection-section, #room-section {
    display: flex;
    height: 100vh;
    background-color: $blue;
}
#connection-section {
    align-items: center;
    justify-content: center;
}
#room-section {
    justify-content: space-between;
    text-align: center;
}
#left, #right {
    overflow: auto;
}
form {
    margin-top: 24px;
}
#chat-container {
    margin-top: 24px;
    #chat {
        min-height: 10rem;
        max-height: 18rem;
        overflow: auto;
        background-color: $white;
        border-radius: 5px;
    }
    img {
        margin-right: 5px;
        width: 30px;
    }
}