/* You can add global styles to this file, and also import other style files */

// Couleur
$white: #FFFFFF;
$lightgrey: #D1D1D1;
$grey: #434244;
$red: #F26548;
$blue: #23b5ef;
$darkblue: #4785ef;
.white {
    color: $white;
}
.lightgrey {
    color: $lightgrey;
}
.grey {
    color: $grey;
}
.red {
    color: $red;
}
.blue {
    color: $blue;
}
.darkblue {
    color: $darkblue;
}
// Style Gnrl
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
span {
    font-size: 10px;
}
.title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}
.text-justify {
    text-align: justify;
}
.team {
    display: flex;
    min-width: 10rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.avatar {
    width: 40px;
}
.btn-container {
    display: flex;
    justify-content: space-between;
}